scripts/*
!scripts/template
!scripts/vivado_project
!scripts/template_config.sh
!scripts/config.sh

example_project/*
!example_project/rtl
!example_project/tb
!example_project/xdc
!example_project/config.sh

.vscode
